@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Roboto+Slab:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  --dark-clr: #111;
  --light-clr: #eee;
  --main-clr: 211, 84, 0;
  --accent-clr: royalblue;

  scroll-padding: 6vh;
  scroll-behavior: smooth;
}

body {
  font-size: 1.2em;
  letter-spacing: 0.05em;
  color: var(--light-clr);
  font-family: "Roboto Slab", serif;
}

body::before {
  --default-bg: linear-gradient(90deg, #111, #222);

  content: '';
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  will-change: transform;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

nav {
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  position: sticky;
  padding: 2vh 10vw;
  align-items: center;
  backdrop-filter: blur(2px);
  justify-content: space-between;
  background-color: rgba(25, 25, 25, 0.7);
  box-shadow: .5em 0 1em rgba(0, 0, 0, 1);
}

#back {
  height: 3px;
  width: 1.2em;
  margin: .55em 0;
  border-radius: 25%;
  transition: background-color .25s;
  background-color: var(--light-clr);
}

#back::before {
  top: 1px;
  left: -.5px;
  transform: rotate(-45deg);
}

#back::before,
#back::after {
  content: '';
  width: .8em;
  height: inherit;
  display: inherit;
  position: relative;
  border-radius: inherit;
  background-color: inherit;
  transform-origin: top left;
}

#back::after {
  left: 1.5px;
  bottom: 3px;
  transform: rotate(45deg);
}

#back:is(:hover, :focus) { background-color: rgb(var(--main-clr)); }

.ind {
  gap: 2vw;
  display: flex;
}

.ind > a { font-size: .8em; }
.ind input { display: none; } /* Hides the checbox */

.btn,
.dropdown {
  color: inherit;
  cursor: pointer;
  border: 2px solid;
  padding: .3em 1em;
  border-radius: 50px;
  font-family: inherit;
  display: inline-block;
  text-decoration: none;
  background-color: rgba(10, 10, 10, 0.5);
  transition: background-color .25s, border .25s;
  text-shadow: .1em .1em .2em rgba(10, 10, 10, .7);
}

form > .btn { margin: 0 auto; }

.link-card li:not(:last-child) { margin-bottom: 1em; }
.link-card .btn { display: block; }

.btn:is(:hover, :focus, .active),
.active.btn > .go-btn,
ul.active .btn {
  border-color: rgb(var(--main-clr));
  background-color: rgb(var(--main-clr));
}

.go-btn {
  display: block;
  text-align: center;
}

td .go-btn {
  font-size: 1em;
  max-width: 12em;
  padding: .1em 1.5em;
}

.install.btn {
  right: 1em;
  bottom: 1em;
  display: none;
  position: fixed;
  box-shadow: .5em .5em .5em rgba(10, 10, 10, 0.9);
}

.greyed.btn,
.greyed.dropdown,
.greyed.dropdown + .btn.go-btn { color: #333; }

.ind input:checked + .btn { display: none; }

h1 {
  font-size: 3.5em;
  font-weight: 700;
  position: relative;
  text-align: center;
  font-family: 'Bitter', serif;
  text-shadow: .12em .12em .12em black;
}

nav + header > h1 {
  margin-top: .2em;
}

#author { margin-bottom: .5em; }

#author::after {
  left: 62%;
  bottom: -1em;
  font-size: .3em;
  position: absolute;
  content: "— Mayank Shigaonker";
}

.cards {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  gap: 1em;
  width: 100%;
  padding: 1em;
  margin: 1.5em;
  display: flex;
  line-height: 2;
  max-width: 375px;
  overflow-x: hidden;
  border-radius: 15px;
  flex-direction: column;
  backdrop-filter: blur(8px);
  justify-content: space-between;
  border: 2px solid rgb(var(--main-clr));
  background-color: rgb(30, 30, 30);
  box-shadow: .5em .5em .5em rgba(10, 10, 10, 0.6);
}

.timing-and-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status {
  font-size: .65em;
  font-weight: 700;
}
.status.ok { color: limegreen; }
.status.not-ok { color: crimson; }
.status.not-ok::before {
  content: "!";
  border: 2px solid;
  padding: .05em .5em;
  border-radius: 50%;
  margin-right: .2em;
}

.soln { padding-left: 2.5em; }

.soln > li {
  line-height: 2.2;
  list-style-type: "⇒ ";
}

.ans {
  padding: .25em;
  margin-top: 1em;
  font-size: 1.2em;
  text-align: center;
  box-shadow: inherit;
  border-radius: inherit;
  border: 2px solid var(--accent-clr);
  background-color: rgba(17, 17, 17, 0.3);
}

.ans::before { content: "∴ "; }

.frac {
  line-height: 1.2;
  font-size: 0.75em;
  position: relative;
}

.frac,
.frac > * { display: inline-block; }

.numerator {
  top: -1.3ex;
  position: inherit;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

.denominator {
  --offset: 0%;

  width: 100%;
  bottom: -1ex;
  position: absolute;
  left: var(--offset);
}

.denominator sup {
  bottom: -.4ex;
  position: relative;
}

.div { --divisor-size: 7.8ch; }

.quotient { line-height: 1; }

.quotient,
.div-steps {
  position: relative;
  left: calc(var(--divisor-size) + 2em);
}

.divisor {
  padding-left: .15em;
  padding-right: .2em;
  margin-right: -.33em;
  display: inline-block;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.divisor,
.divident { line-height: 1.3; }

.div sup { font-size: .55em; }

.divident {
  margin-left: 0;
  padding-left: 7px;
  display: inline-block;
  border-top: 1px solid;
}

.div-steps {
  padding: 0;
  display: inline-flex;
  align-items: flex-end;
  flex-direction: column;
}

.div-steps > div { display: inline-block; }
.div-steps > div:nth-child(odd) { border-bottom: 2px solid; }

table {
  width: 100%;
  border-collapse: collapse;
}

table,
tr,
td,
th {
  text-align: center;
  border: 1px solid var(--light-clr);
}

td { padding: 1em .5em; }
td:first-child,
th {
  font-weight: 700;
  color: var(--dark-clr);
  background-color: rgb(var(--main-clr));
}

.dropdown {
  font-size: .8em;
  margin-bottom: 1em;
}

td .dropdown { margin: 0 auto 1em auto; }

::-webkit-scrollbar {
  width: .6vw;
  background-color: #222;
}

footer {
  padding: 2em;
  color: #888;
  font-size: 12px;
  background-color: #111;
}

footer a { color: inherit; }
footer > section { margin-bottom: 1em; }

footer > section:last-child { margin-bottom: 0; }

.indented-list {
  list-style: none;
  padding-left: 2ex;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #444;
}

::selection { background-color: rgba(var(--main-clr), .7); }

::-webkit-scrollbar-thumb:hover { background-color: rgb(var(--main-clr)); }

@media (max-width: 770px) {
  body::before { background-image: url(/SchoolWork/bg768.webp), var(--default-bg); }
  .resp-table { border: none; }
  
  .resp-table tr:first-child {display: none;}
  
  .resp-table tr:not(:last-child)  { margin-bottom: 1em; }
  
  .resp-table :is(td, tr) { display: block; }
  
  .resp-table td:not(:first-child) { padding: 3.36vw; }
  .resp-table td:not(:first-child)::before {
    text-align: left;
    content: attr(data-time) ":";
  }
  .resp-table td:first-child { padding: 0; }
}
@media (min-width: 769px) {
  body::before { background-image: url(/SchoolWork/bg1080.webp), var(--default-bg); }
}

@media (max-width: 645px) {
  #author::after {
    display: block;
    position: static;
    text-align: center;
  }
  .btn:focus { outline: none; }
}

@media (max-width: 430px) {
  h1 { font-size: 15vw; }
}

@media (max-width: 390px) {
  .div { font-size: .7em; }
}

@media (max-width: 340px) {
  .div { font-size: .5em; }
  .status { font-size: 2.5vw; }
}

@media (max-width: 290px) {
  .div { font-size: .3em; }
}

@supports (backdrop-filter: blur(1em)) or (-webkit-backdrop-filter: blur(1em)) {
  .card { background-color: rgba(25, 25, 25, 0.7); }
}