body {
  gap: 1em;
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.selectBtn {
  font-size: 1.5em;
  backdrop-filter: blur(5px);
}

nav {
  position: fixed;
}
