#author {
  margin-bottom: 0.5em;
}

#author::after {
  left: 62%;
  bottom: -1em;
  font-size: 0.3em;
  position: absolute;
  content: "— Mayank Shigaonker";
}

@media (max-width: 645px) {
  #author::after {
    display: block;
    position: static;
    text-align: center;
  }
}