.soln { padding-left: 2.5em; }

.soln > li {
  line-height: 2.2;
  list-style-type: "⇒ ";
}

.ans {
  padding: .25em;
  margin-top: 1em;
  font-size: 1.2em;
  text-align: center;
  box-shadow: inherit;
  border-radius: inherit;
  border: 2px solid var(--accent-clr);
  background-color: rgba(17, 17, 17, 0.3);
}

.ans::before { content: "∴ "; }

.frac {
  line-height: 1.2;
  font-size: 0.75em;
  position: relative;
}

.frac,
.frac > * { display: inline-block; }

.numerator {
  top: -1.3ex;
  position: inherit;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

.denominator {
  --offset: 0%;

  width: 100%;
  bottom: -1ex;
  position: absolute;
  left: var(--offset);
}

.denominator sup {
  bottom: -.4ex;
  position: relative;
}

.div { --divisor-size: 7.8ch; }

.quotient { line-height: 1; }

.quotient,
.div-steps {
  position: relative;
  left: calc(var(--divisor-size) + 2em);
}

.divisor {
  padding-left: .15em;
  padding-right: .2em;
  margin-right: -.33em;
  display: inline-block;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.divisor,
.divident { line-height: 1.3; }

.div sup { font-size: .55em; }

.divident {
  margin-left: 0;
  padding-left: 7px;
  display: inline-block;
  border-top: 1px solid;
}

.div-steps {
  padding: 0;
  display: inline-flex;
  align-items: flex-end;
  flex-direction: column;
}

.div-steps > div { display: inline-block; }
.div-steps > div:nth-child(odd) { border-bottom: 2px solid; }

#author {
  margin-bottom: .5em;
}

#author::after {
  left: 62%;
  bottom: -1em;
  font-size: .3em;
  position: absolute;
  content: "— Mayank Shigaonker";
}

@media (max-width: 645px) {
  #author::after {
    display: block;
    position: static;
    text-align: center;
  }
}

@media (max-width: 390px) {
  .div { font-size: .7em; }
}

@media (max-width: 340px) {
  .div { font-size: .5em; }
}