/* Menu Stuff */
.menu {
  display: none;
}

.menu + label {
  --before-top: -0.4em;
  --after-bottom: -0.25em;
  background-color: var(--norm-font-clr);
  transition: background-color 250ms, transform 250ms;
}

.menu + label,
.menu + label::after,
.menu + label::before {
  height: 3px;
  display: block;
  width: 1.25em;
  line-height: 0;
  border-radius: 25%;
  will-change: transform;
}

.menu + label::before {
  top: var(--before-top);
}

.menu + label::after,
.menu + label::before {
  content: "";
  background-color: inherit;
  position: relative;
  left: 0;
  transform-origin: center;
}

.menu + label::after {
  bottom: var(--after-bottom);
}

.menu + label:hover {
  cursor: pointer;
}

.menu + label:is(:hover, :focus),
.menu:checked + label {
  background-color: rgb(var(--main-clr));
}

.menu:checked + label {
  transform: rotate(-45deg);
}

.menu:checked + label::after {
  display: none;
}

.menu:checked + label::before {
  top: 0;
  transform: rotate(90deg);
}

.menu-content {
  z-index: -1;
  width: min(95vw, 20em);
  max-height: 100vh;
  padding-top: 6vh;
  border-radius: 15px;
  clip-path: circle(0 at top left);
  background-color: rgba(var(--elem-bg-clr), 0.95);
  box-shadow: 0.5em 0.5em 0.5em rgba(25, 25, 25, 0.6);
  overflow-y: auto;
  position: fixed;
  top: calc(var(--nav-y-padding) - 0.5em);
  left: calc(var(--nav-x-padding) - 1em);
  transition: clip-path 250ms;
}

.menu:checked ~ .menu-content {
  clip-path: circle(158% at top left);
}

.menu-content-container {
  position: relative;
}

.menu-item-radio {
  display: none;
}

/* Menu Item */

.menu-content .name {
  display: block;
  padding: 1em 2em;
  background-color: rgb(var(--elem-bg-clr));
  border-bottom: var(--border-thickness) solid rgb(var(--main-clr));
  position: relative;
  transition: color 250ms;
  cursor: pointer;
}

.menu-content .name:is(:focus, :hover),
.slide-down:checked + .name {
  color: rgb(var(--main-clr));
}

.menu-content .item {
  width: 100%;
  height: 100%;
  clip-path: circle(0 at top left);

  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(var(--elem-bg-clr));

  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  transition: clip-path 400ms;
}

.menu-content .item .btn {
  font-size: .75em;
}

.menu-content .item p {
  font-size: .6em;
}

.menu-item-radio:checked + .item {
  clip-path: circle(100%);
}

.slide-down-parent {
  position: relative;
}

.slide-down {
  display: none;
}

.slide-down + .name {
  --offset: 7.9em;
}

.slide-down + .name::after {
  right: -1em;
  transform: rotate(45deg);
}

.slide-down + .name::before,
.slide-down + .name::after {
  width: 2px;
  height: 0.5em;
  content: "";
  display: inline-block;
  background-color: currentColor;
  position: relative;
  top: 0;
  transform-origin: center;
  transition: transform 250ms;
}

.slide-down + .name::before {
  left: var(--offset);
  transform: rotate(-45deg);
}

.slide-down:checked + .name::before {
  transform: rotate(45deg);
}

.slide-down:checked + .name::after {
  transform: rotate(-45deg);
}

.stuff-to-slide {
  --height: 7em;

  width: 100%;
  max-height: 0;
  background-color: rgb(var(--elem-bg-clr));
  display: block;
  padding: 0 1em;
  overflow: hidden;
  transition: max-height 250ms;
}

.slide-down:checked ~ .stuff-to-slide {
  max-height: var(--height);
}

.centered-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.range-label {
  font-size: .7em;
  display: block;
}

input[type="file"] {
  display: none;
}

.back-and-forth-throbber {
  height: .5em;
  width: 2em;
}

.back-and-forth-throbber::before {
  border-radius: var(--btn-border-rad);
  content: "";
  height: 100%;
  width: 25%;
  background-color: rgb(var(--main-clr));
  display: block;
  animation: back-and-forth-throbber 1000ms ease-in-out infinite;
}

@keyframes back-and-forth-throbber {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(300%);
  }

  100% {
    transform: translateX(0);
  }
}

.card {
  padding: 1.5em;
  max-width: 450px;
}

.message.card {
  justify-content: flex-start;
}

.message.card > ol {
  font-size: .8em;
}

.message.card li {
  margin-bottom: 1em;
}

td {
  font-size: 0.9em;
}

.ind label {
  font-size: 0.75em;
}

.ind-card {
  padding: 1.5em 1vw;
  max-width: 900px;
}

table:not(#curr) {
  display: none;
}

.link-card {
  justify-content: initial;
}

.link-card li:not(:last-child) {
  margin-bottom: 1em;
}

.todays.btn,
.todays.btn-list .btn {
  display: block;
}

.go-btn {
  display: block;
  text-align: center;
}

td .go-btn {
  font-size: 1em;
  max-width: 12em;
  padding: 0.1em 1.5em;
}

.install.btn {
  right: 1em;
  bottom: 1em;
  display: none;
  position: fixed;
  box-shadow: 0.5em 0.5em 0.5em rgba(10, 10, 10, 0.9);
  font-size: .7em;
}

.small {
  font-size: .7em;
}

.greyed.btn,
.greyed > .dropdown,
.greyed > .btn.go-btn {
  opacity: 35%;
}

.ind input:checked + .btn {
  display: none;
}

.btn-list {
  list-style: none;
  padding-left: 0;
}

.btn-list > li:not(:last-child) {
  margin-bottom: 1em;
}

.go-btn {
  margin: 0 auto;
}

.timing-and-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status {
  font-size: 0.65em;
  font-weight: 700;
}

.go {
  color: limegreen;
}

.wait {
  color: yellow;
}

.prob {
  color: crimson;
  text-align: center;
}

.prob::before {
  content: "!";
  border: 2px solid;
  padding: 0.05em 0.5em;
  border-radius: 50%;
  margin-right: 0.2em;
}

div.pop-up {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 80vw;
  margin: 2vh 0 0 0;
}

div:target.pop-up {
  display: unset;
}

div.pop-up > h2,
div.pop-up > .btn {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
tr,
td,
th {
  text-align: center;
  border: 1px solid var(--norm-font-clr);
}

td {
  padding: 1em 0.5em;
}

td:first-child,
th {
  font-weight: 700;
  color: var(--theme-font-clr);
  background-color: rgb(var(--main-clr));
}

.dropdown {
  font-size: 0.8em;
  margin-bottom: 1em;
}

td .dropdown {
  margin: 0 auto 1em auto;
}

footer {
  padding: 2em;
  color: #888;
  font-size: 12px;
  background-color: #111;
}

footer a {
  color: inherit;
}

footer > section {
  margin-bottom: 1em;
}

footer > section:last-child {
  margin-bottom: 0;
}

.indented-list {
  list-style: none;
  padding-left: 2ex;
}

@media (max-width: 900px) {
  .resp-table {
    border: none;
  }
  .resp-table tr:first-child {
    display: none;
  }
  .resp-table tr:not(:last-child) {
    margin-bottom: 1em;
  }
  .resp-table :is(td, tr) {
    display: block;
  }
  .resp-table td:not(:first-child) {
    padding: 3.36vw;
  }
  .resp-table td:not(:first-child)::before {
    text-align: left;
    content: attr(data-time) ":";
  }
  .resp-table td:first-child {
    padding: 0;
  }
}

@media (max-width: 425px) {
  .card {
    margin: 1.5em 3vw;
  }
  :not(.resp-table) td {
    font-size: 0.7em;
  }
}

@media (max-width: 340px) {
  .status {
    font-size: 2.5vw;
  }
}

@media (max-width: 320px) {
  :not(.resp-table) td {
    font-size: 0.6em;
  }
  :not(.resp-table) th {
    font-size: 0.8em;
  }
}

@media (max-width: 272px) {
  :not(.resp-table) td {
    font-size: 4vw;
  }
  :not(.resp-table) th {
    font-size: 5vw;
  }
}
