nav {
  display: flex;
  justify-content: center;
}

.hostname {
  font-size: 0.7em;
  text-align: center;
}

.message.card {
  justify-content: flex-start;
}

.message.card > ol {
  font-size: 0.8em;
}

.message.card li {
  margin-bottom: 1em;
}

.ind label {
  font-size: 0.75em;
}

.ind-card {
  padding: 1.5em 1vw;
  max-width: 1000px;
}

table:not(#curr) {
  display: none;
}

.link-card {
  justify-content: initial;
}

.link-card li:not(:last-child) {
  margin-bottom: 1em;
}

.todays.btn,
.todays.btn-list .btn {
  display: block;
}

.go-btn {
  display: block;
  text-align: center;
}

td .go-btn {
  font-size: 1em;
  max-width: 12em;
  padding: 0.1em 1.5em;
}

.install.btn {
  right: 1em;
  bottom: 1em;
  display: none;
  position: fixed;
  box-shadow: 0.5em 0.5em 0.5em rgba(10, 10, 10, 0.9);
  font-size: 0.7em;
}

.small {
  font-size: 0.7em;
}

.greyed.btn,
.greyed > .dropdown,
.greyed > .btn.go-btn {
  opacity: 35%;
}

.btn-list {
  list-style: none;
  padding-left: 0;
}

.btn-list > li:not(:last-child) {
  margin-bottom: 1em;
}

.go-btn {
  margin: 0 auto;
}

.timing-and-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status {
  font-size: 0.65em;
  font-weight: 700;
}

.go {
  color: limegreen;
}

.wait {
  color: yellow;
}

.prob {
  color: crimson;
  text-align: center;
}

.prob::before {
  content: "!";
  border: 2px solid;
  padding: 0.05em 0.5em;
  border-radius: 50%;
  margin-right: 0.2em;
}

div.pop-up {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  max-height: 95vh;
  transform: translateX(-50%);
  z-index: 100;
  width: 80vw;
  margin: 2vh 0 0 0;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  overflow-y: auto;
  background-color: rgba(var(--elem-bg-clr), 0.5);
  clip-path: circle(0 at center center);
  transition: clip-path 250ms ease-in;
}

div:target.pop-up {
  clip-path: circle(100% at center center);
}

div.pop-up > h2,
div.pop-up > .btn {
  text-align: center;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  text-decoration: none;
  font-size: 1.25em;
}

#report-options {
  width: 100%;
}

label.report {
  transition: background-color 250ms ease-in;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

label.report:hover {
  background-color: rgba(var(--elem-bg-clr), 0.7);
}

input[type="checkbox"] {
  font-size: 1.2em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
tr,
td,
th {
  text-align: center;
  border: 1px solid var(--norm-font-clr);
}

td {
  padding: 1em 0.5em;
  font-size: 0.9em;
}

td:first-child,
th {
  font-weight: 700;
  color: var(--theme-font-clr);
  background-color: rgb(var(--main-clr));
}

.dropdown {
  font-size: 0.8em;
  margin-bottom: 1em;
}

td .dropdown {
  margin: 0 auto 1em auto;
}

footer {
  padding: 2em;
  color: #888;
  font-size: 12px;
  background-color: #111;
}

footer a {
  color: inherit;
}

footer > section {
  margin-bottom: 1em;
}

footer > section:last-child {
  margin-bottom: 0;
}

.indented-list {
  list-style: none;
  padding-left: 2ex;
}

@media (max-width: 900px) {
  .resp-table {
    border: none;
  }
  .resp-table tr:first-child {
    display: none;
  }
  .resp-table tr:not(:last-child) {
    margin-bottom: 1em;
  }
  .resp-table :is(td, tr) {
    display: block;
  }
  .resp-table td:not(:first-child) {
    padding: 3.36vw;
  }
  .resp-table td:not(:first-child)::before {
    text-align: left;
    content: attr(data-time) ":";
  }
  .resp-table td:first-child {
    padding: 0;
  }
}

@media (max-width: 425px) {
  .card {
    margin: 1.5em 3vw;
  }
  :not(.resp-table) td {
    font-size: 0.7em;
  }
}

@media (max-width: 340px) {
  .status {
    font-size: 2.5vw;
  }
}

@media (max-width: 320px) {
  :not(.resp-table) td {
    font-size: 0.6em;
  }
  :not(.resp-table) th {
    font-size: 0.8em;
  }
}

@media (max-width: 272px) {
  :not(.resp-table) td {
    font-size: 4vw;
  }
  :not(.resp-table) th {
    font-size: 5vw;
  }
}
